src/main/java/dataprocessing_2022/raamy/xml/xml_anime_dataprocessing.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="anime">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="uid" type="xs:unsignedByte" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="genre" type="xs:string" />
        <xs:element name="aired" type="xs:string" />
        <xs:element name="episode" type="xs:string" />
        <xs:element name="members" type="xs:string" />
        <xs:element name="score" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>